{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head_css %}
 <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
<style type="text/css">
</style>
{% endblock %}

{% block wrapper %}
<div class="navbar">
  <!-- <div id="logo" class="pull-left"></div> -->
  <div class="navbar-inner">
    <a class="brand" href="#"><img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" />Playground</a>
    <ul class="nav">
      {% for example in pxExamples %}
        <li class="nav-item nav-speak {{ 'active' if example['active'] }}">
          <a href="#" xml-data="{{example['xml']}}">{{example["name"]}}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div id="editor"></div>
<div class="btn-group pull-right">
  <button class="clear-btn btn">Clear</button>
  <button class="test-btn btn">Test!</button>
</div>

<div id="call-modal" class="modal hide fade">
  <div class="modal-header">
    <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
    <h5>Incoming Call!</h5>
  </div>
  <div class="modal-body">
    <h5>You have an incoming call to test the XML...</h5>
  </div>
  <div class="modal-footer">
    <a href="#" class="call-reject-btn btn">Reject</a>
    <a href="#" class="call-answer-btn btn btn-primary">Accept</a>
  </div>
</div>
{% endblock %}
